@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    scroll-behavior: smooth;

}

body {
    direction: rtl;
    position: relative;
}


header nav {
    height: 60px;
    display: flex;
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    background-color: #F0EFE9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 112px;
    height: 50px;
    margin-right: 0px;
}

header nav ul {
    margin-left: 300px;
    padding: 0;
    list-style: none;
    display: flex;
}
header nav ul li  {
    display: inline-block;
    margin: 0;
}

header nav ul li a {
    display: block;
    background-color: #F0EFE9;
    color: black;
    width:120px;
    height: 60px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}

header nav ul li a:hover {
    background-color: #F3EEFE;
}

header nav ul li ul {
    display: none;
    position: absolute;
}
header nav ul li:hover ul {
    display: block;
    width: 100px;
    margin: 0;
    padding: 0;
}

.notActive {
    cursor: not-allowed;
    color: black;
}

#heroSection {
    background-color: #FAF9FB;
    height: 720px;
    position: relative;
}


#allContant {
    margin-right:120px;
    margin-bottom: 0;
    max-width: 500px;
    margin-top: 60px;
    display: inline-block;
    background-color: #FAF9FB;
    
}

.headline {
    font-weight: 560;
    max-width:400px;
    height: 16px;
    font-size: 56px;
}

#headline1 {
    margin-top: 100px;
}

#informationBlurb {
    max-width:500px;
    font-weight: 300;
    font-size: 22px;

}

img#women-image {
    width: 600px;
    height: 600px;
    filter: opacity(88%);
    

}
#imgLeft{
    float: left;
    display: inline-block;
    padding-left: 60px;
    padding-bottom: 0;
    margin-top: 60px;

}

.butnLink1:link, .butnLink1:visited {
    background-color: #FAF9FB;
    border: 1px solid #A392BA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;

}

.butnLink1:hover, .butnLink1:active  {
    background-color: #A392BA;
    display: inline-block;
    margin-bottom: 10px;
}

#programs-section {
    background-color: #F0EFE9;
    padding: 20px 80px 80px;
    text-align: center;
}

#headline2 h2 {
    font-size: 40px;
    font-weight: 500;
    color: black;
}

#cards-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

#cards-container .cards {
    background-color: #FAF9FB;
    height: 560px;
    margin-top: 40px;
    margin-left: 30px;
    display: block;
}

.butnLink2:link, .butnLink2:visited {
    background-color: #FAF9FB;
    border: 1px solid #A392BA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 6px 12px;
    margin: 60px auto 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.1s ease;

}

.butnLink2:hover, .butnLink2:active  {
    background-color: #A392BA;
    display: inline-block;
}

.butnLink2-notActive:link, .butnLink2-notActive:visited {
    background-color: #FAF9FB;
    border: 1px solid #A392BA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    padding: 6px 12px;
    margin: 60px auto 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: not-allowed;

}

.info {
    margin-top: 40px;
    display: block;
}

footer {
    background-color: #FAF9FB;
}

footer nav {
    background-color: #FAF9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    width: 100%;

}

footer nav ul {
    list-style: none;
    display: flex;

}

footer nav ul li {
    display: inline-block;
    margin: 0;
}

footer nav ul li a {
    display: block;
    background-color: transparent;
    color: black;
    width:120px;
    height: 60px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
}
footer nav ul li a:hover {
    text-decoration: underline;
}
footer nav img {
    margin: 18px;
}

footer nav .freepik {
    font-size: 14px;
    font-weight: lighter;
}






